* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 13px;
    font-family: 'Roboto', monospace;
    --bg-btn: rgba(222, 222, 222,0.2);
    --text-primary: rgb(0,0,0);
    --text-secondary: rgba(0,0,0,0.5);
    --footer-link: rgba(0,0,0,0.65);
    --footer-section: rgba(0,0,0,0.1);
    --search-border: rgba(0,0,0,0.1);
    --button-text: rgba(0,0,0,0.8);
    --button-shadow: rgba(200,200,200,0.3);
    --button-shadow-active: rgba(200,200,200,0.5);
    --bg-footer: rgb(220,220,220,0.4);
    overflow: hidden;
}

#navbar {
    width: 100vw;
    height: 9vh;
    background: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-div ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navbar-div ul li {
    margin: auto 0.5rem auto 0.5rem;
}

.navbar-div ul li a {
    text-decoration: none;
    color: var(--text-primary);
}

.navbar-div ul li:nth-child(1):hover, 
.navbar-div ul li:nth-child(2):hover{
    text-decoration: underline;
}

.navbar-div ul li:nth-child(3) span{
    padding: 8px;
    border-radius: 50%;
    margin-left: 0.4rem;
    color: var(--text-secondary);
}

.navbar-div ul li:nth-child(3) span:hover {
    background: var(--button-shadow);
}

.navbar-div ul li:nth-child(3) span:active {
    background: var(--button-shadow-active);
}

.navbar-div ul li:nth-child(4) a img {
    margin-right: 1rem;
    border-radius: 50%;
    height: 2.4rem;
}

.navbar-div ul li:nth-child(4):hover a img{
    box-shadow: 0px 0px 1px 5px var(--button-shadow);
}

.appicon-action {
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 0 5px 3px var(--button-shadow-active);
    background: rgb(255,255,255);
    right: 1vw;
    top: 10vh;
    width: 20vw;
    height: 50vh;
    display: none;
}

.navbar-div ul #mat-action:focus+.appicon-action {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.appicon-action .tribute {
    grid-row: 1;
    grid-column: 1;
    margin: auto;
    margin-top: 1rem;
}

.appicon-action .form {
    grid-row: 1;
    grid-column: 2;
    margin: auto;
    margin-top: 1rem;
}

.appicon-action .landing-page {
    grid-row: 2;
    grid-column: 1;
    margin: auto;
    margin-top: 1rem;
}

.appicon-action .documentation {
    grid-row: 2;
    grid-column: 2;
    margin: auto;
    margin-top: 1rem;
}

.appicon-action .portofolio {
    grid-row: 3;
    grid-column: 1;
    margin: auto;
    margin-top: 1rem;
}

.appicon-action .tribute p,
.appicon-action .form p,
.appicon-action .landing-page p,
.appicon-action .documentation p, 
.appicon-action .portofolio p {
    text-align: center;
    margin-top: 1rem;
}

.image {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-border {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--search-border);
    width: fit-content;
    height: fit-content;
    margin-top: 2rem;
    padding: 0px 1rem 0px 1rem;
    border-radius: 28px;
}

.outer-border input {
    width: 56ch;
    font-size: 16px;
    padding: 1rem;
    border: none;
    outline: none;
    background: transparent;
}

.outer-border:hover {
    box-shadow: 0 0 3px 3px var(--button-shadow);
}

.outer-border:focus-within {
    box-shadow: 0 0 3px 3px var(--button-shadow);
}

.outer-border .material-icons {
    font-size: 20px;
    color: var(--text-secondary);
    pointer-events: none;
}

.outer-border span:nth-child(3) {
    padding-left: 1rem;
}

.search-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-button button {
    margin: 2.2rem 0.5rem auto 0.5rem;
    padding: 0.8rem 1.2rem;
    font-size: 1.1rem;
    background: var(--bg-btn);
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--button-text);
}

.search-button button:hover {
    box-shadow: 0 0 2px 2px var(--button-shadow);
}

#google-mic {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
    cursor: pointer;
}

.other-lang {
    margin-top: 2rem;
    text-align: center;
}

.other-lang p span a {
    margin: auto 0.4rem auto 0.4rem;
    text-decoration: none;
    color: darkblue;
}

.other-lang p span a:hover {
    text-decoration: underline;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 14vh;
    background: var(--bg-footer);
}

.current-lang {
    height: 7vh;
    padding: 1rem;
    text-indent: 1.3rem;
    font-size: 15px;
    color: var(--text-secondary);
    border-bottom: 1px solid var(--footer-section);
}

.other-stuff {
    display: flex;
    flex-direction: row;
    margin-left: 1.5rem;
}

.left-side ul, .right-side ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.left-side ul li, .right-side ul li {
    padding: 1.15rem;
}

.left-side ul a, .right-side ul a {
    text-decoration: none;
    color: var(--footer-link);
    font-size: 14px;
}

.left-side ul a:hover, .right-side ul a:hover {
    text-decoration: underline;
}

.left-side {
    margin-right: auto;
}

.right-side {
    margin-left: auto;
    margin-right: 1.5rem;
}


@media only screen and (max-width: 800px) {
    .appicon-action {
        width: 40vw;
        height: 50vh;
    }
}

@media only screen and (max-width: 700px) {
    .image img {
        max-width: 50vw;
    }

    .outer-border {
        max-width: 90vw;
    }

    .outer-border input {
        max-width: 40ch;
        font-size: 16px;
    }

    .search-button {
        display: none;
    }

    footer {
        height: 24vh;
    }

    .other-stuff {
        flex-direction: column;
    }

    .left-side li:nth-child(4) {
        display: none;
    }

    .left-side ul, .right-side ul {
        justify-content: center;
        align-items: center;
    }

    .left-side {
        margin: auto;
    }

    .right-side {
        margin: auto;
    }

    .appicon-action {
        width: 70vw;
        height: 50vh;
    }
    
}